<div class="article">
  <div class="article-title">
    {{article.title}}
  </div>
  <div class="article-content">
    {{article.content}}
  </div>
  <div class="article-attachment" ng-if="hasAttachment">
    <a ng-href="{{article_link}}"
       ng-model="article_link" target="_blank">
      <i class="fa fa-paperclip"></i> Open Attachment
    </a>
  </div>
  <div class="article-author">
    <b>by</b> {{article.user.email}}
  </div>
  <div class="article-comments">
    <ul>
      <li class="comment" ng-repeat="comment in comments" >
        <a name="comment{{comment.id}}"></a>
        <div class="comment-content">
          {{comment.content}}
        </div>
        <div class="comment-author">
          <b>by</b> {{comment.user.email}}
        </div>
      </li>
    </ul>
  </div>
  <div class="create-comment" ng-if="signedIn()">
    <form ng-submit="createComment()">
      <div class="comment-content" ng-model="$parent.content"
           contenteditable="true" ng-change="change()">
      </div>
      <div class="content placeholder" ng-click="focus()">Type your comment...</div>
      <button type="submit" class="btn btn-primary comment-submit">Post</button>
    </form>
  </div>
</div>
