<div class="not-found">
  <div class="rotate fourty-five-deg">Page not found</div>
  <div class="rotate thirty-two-deg">Page not found</div>
  <div class="rotate thirteen-deg">Page not found</div>
  <div class="rotate minus-fifty-five-deg">Page not found</div>
  <div class="rotate minus-twenty-two-deg">Page not found</div>
  <div class="rotate zero-deg">Page not found</div>
  <div class="rotate one-o-eight-deg">Page not found</div>
  <div class="rotate minus-one-thirty-five-deg">Page not found</div>
  <div class="rotate ninety-deg">Page not found</div>
</div>
