<div class="register" ng-controller="AuthCtrl as ctrl">
  <h4>New on NRTestSN? Register!</h4>
  <form ng-submit="ctrl.register()">
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Email"
             ng-model="ctrl.user.email" size="27">
    </div>
    <!--div class="input-group">
      <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
    </div-->
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password"
             ng-model="ctrl.user.password" size="27">
    </div>
    <div class="input-group">
      <input type="submit" class="btn btn-primary" value="Register">
    </div>
  </form>
</div>
