@import "bootstrap";
@import "font-awesome";
@import "menu";
@import "colors";
@import "article";

body {
  background-color: $background-color;
}

.container-navbar {
  width: 720px;
  margin: 0 auto;
  padding: 0 15px;
  //margin-top: 50px;
}

.container {
  width: 720px;
  margin: 0 auto;
  padding-top: 50px;
}

ul {
  padding: 0;
}

.btn-primary {
  background-color: $primary-color;
}
