.user {
  position: absolute;
  left: 0;
  top: 65px;

  width: 280px;
  border: 1px solid $border-color;
  border-radius: 3px;
  background-color: white;
  padding: 20px;

  .user-email,
  .user-followers {
    padding-bottom: 10px;
  }

  .user-created {
    border-bottom: 1px solid $border-color;
    padding-bottom: 5px;
  }

  .user-followers {
    padding-top: 5px;
  }

  .user-following {
    padding-bottom: 5px;
  }

  .user-follow-unfollow {
    border-top: 1px solid $border-color;
    padding-top: 10px;
  }
}

.user-articles {
  position: absolute;
  left: 290px;
}

.users {
  .user {
    position: static;
    list-style: none;
    margin-top: 10px;
    width: auto;
    border-radius: 5px;

    .user-email {
      padding-bottom: 0;
    }

    .article {
      width: 100%;
      margin-bottom: 0;

      .comment {

        border-top: 1px solid $border-color;

        i {
          float:left;
          margin: 5px 10px;
        }

        .comment-content,
        .comment-author {
          margin-left: 30px;
        }
      }
    }
  }
}
