<!DOCTYPE html>
<html>
  <head>
    <title>NRTestSN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <base href="/">
  </head>
  <body ng-app="nrTest">
    <div ng-include="'nav/nav.html'"></div>
    <ui-view></ui-view>
  </body>
</html>
